[Unit]
Description=Bigtree App FASTAPI
After=network.target


[Service]
User=mohammad
WorkingDirectory=/home/mohammad/
ExecStart=/bin/bash -c 'source /home/mohammad/bigtree-webhooks/env/bin/activate && python app.py'
Restart=always
StandardOutput=append:/home/mohammad/bigtree-webhooks/log.log
StandardError=append:/home/mohammad/bigtree-webhooks/errors.log

[Install]
WantedBy=multi-user.target
